@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

:root {
    --cor01: #5EAD2D;
    --cor02: #78BEE9;
    --cor03: #C173F8;
    
    --font01: Arial, Helvetica, sans-serif;
    --font02: "Madimi One", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--font01);
}

header {
    background-color: var(--cor01);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

header > h1 {
    font-style: var(--font02);
}

header > nav {
    text-align: right;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
}

abbr {
    text-decoration: none;
}

h2 {
    text-align: center;
    padding: 10px;
    text-decoration: underline;
    margin: 25px;
}

article > a {
    border: 2px solid var(--cor01);
    border-radius: 20px;
    display: block;
    margin: auto;
    padding: 20px 20px;
    width: 50vw;
    transition-duration: 0.4s;
    text-decoration: none;
}

img {
    margin: auto;
    display: block;
}

div#center {
    color: black;
    text-align: center;
    padding-top: 10px;
}